-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: transparencia
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ampliaciones`
--

DROP TABLE IF EXISTS `ampliaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ampliaciones` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `entidad_type` varchar(255) NOT NULL,
  `entidad_id` bigint unsigned NOT NULL,
  `dias` int NOT NULL,
  `justificacion` text NOT NULL,
  `numero` int DEFAULT NULL,
  `aprobado_por_id` bigint unsigned DEFAULT NULL,
  `solicitado_por` varchar(255) DEFAULT NULL,
  `archivo_respaldo` varchar(255) DEFAULT NULL,
  `fecha` datetime NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ampliaciones_entidad_type_entidad_id_index` (`entidad_type`,`entidad_id`),
  KEY `ampliaciones_aprobado_por_id_foreign` (`aprobado_por_id`),
  CONSTRAINT `ampliaciones_aprobado_por_id_foreign` FOREIGN KEY (`aprobado_por_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ampliaciones`
--

LOCK TABLES `ampliaciones` WRITE;
/*!40000 ALTER TABLE `ampliaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `ampliaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bitacora`
--

DROP TABLE IF EXISTS `bitacora`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bitacora` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `denuncia_id` bigint unsigned DEFAULT NULL,
  `entidad_tipo` varchar(50) DEFAULT NULL,
  `entidad_id` bigint unsigned DEFAULT NULL,
  `accion` varchar(255) NOT NULL,
  `detalle` text NOT NULL,
  `usuario_id` bigint unsigned NOT NULL,
  `fecha` datetime NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bitacora_usuario_id_foreign` (`usuario_id`),
  KEY `bitacora_denuncia_id_index` (`denuncia_id`),
  KEY `bitacora_fecha_denuncia_id_index` (`fecha`,`denuncia_id`),
  KEY `bitacora_entidad_tipo_entidad_id_index` (`entidad_tipo`,`entidad_id`),
  CONSTRAINT `bitacora_denuncia_id_foreign` FOREIGN KEY (`denuncia_id`) REFERENCES `denuncias` (`id`) ON DELETE CASCADE,
  CONSTRAINT `bitacora_usuario_id_foreign` FOREIGN KEY (`usuario_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=367 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bitacora`
--

LOCK TABLES `bitacora` WRITE;
/*!40000 ALTER TABLE `bitacora` DISABLE KEYS */;
/*!40000 ALTER TABLE `bitacora` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias_denuncia`
--

DROP TABLE IF EXISTS `categorias_denuncia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias_denuncia` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `clave` varchar(50) NOT NULL,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text,
  `tipo_denuncia` varchar(20) DEFAULT NULL,
  `activa` tinyint(1) NOT NULL DEFAULT '1',
  `fecha_desactivacion` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `desactivado_por_id` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `categorias_denuncia_clave_unique` (`clave`),
  KEY `categorias_denuncia_desactivado_por_id_foreign` (`desactivado_por_id`),
  CONSTRAINT `categorias_denuncia_desactivado_por_id_foreign` FOREIGN KEY (`desactivado_por_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias_denuncia`
--

LOCK TABLES `categorias_denuncia` WRITE;
/*!40000 ALTER TABLE `categorias_denuncia` DISABLE KEYS */;
/*!40000 ALTER TABLE `categorias_denuncia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cierres`
--

DROP TABLE IF EXISTS `cierres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cierres` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `denuncia_id` bigint unsigned NOT NULL,
  `notificado_denunciante` tinyint(1) NOT NULL,
  `notificacion_medio_id` bigint unsigned DEFAULT NULL,
  `cerrado_por_id` bigint unsigned DEFAULT NULL,
  `notificacion_fecha` datetime DEFAULT NULL,
  `notificacion_descripcion` text,
  `no_notificado_motivo` text,
  `concluido_por` varchar(255) NOT NULL,
  `descripcion` text,
  `cerrado_at` datetime NOT NULL,
  `eliminado` tinyint(1) NOT NULL DEFAULT '0',
  `fecha_eliminacion` datetime DEFAULT NULL,
  `historial_ediciones` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cierres_denuncia_id_unique` (`denuncia_id`),
  KEY `cierres_notificacion_medio_id_foreign` (`notificacion_medio_id`),
  KEY `cierres_cerrado_por_id_foreign` (`cerrado_por_id`),
  KEY `cierres_cerrado_at_index` (`cerrado_at`),
  CONSTRAINT `cierres_cerrado_por_id_foreign` FOREIGN KEY (`cerrado_por_id`) REFERENCES `users` (`id`),
  CONSTRAINT `cierres_denuncia_id_foreign` FOREIGN KEY (`denuncia_id`) REFERENCES `denuncias` (`id`) ON DELETE CASCADE,
  CONSTRAINT `cierres_notificacion_medio_id_foreign` FOREIGN KEY (`notificacion_medio_id`) REFERENCES `medios_notificacion` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cierres`
--

LOCK TABLES `cierres` WRITE;
/*!40000 ALTER TABLE `cierres` DISABLE KEYS */;
/*!40000 ALTER TABLE `cierres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clasificaciones`
--

DROP TABLE IF EXISTS `clasificaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clasificaciones` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `clave` varchar(50) NOT NULL,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text,
  `activa` tinyint(1) NOT NULL DEFAULT '1',
  `fecha_desactivacion` datetime DEFAULT NULL,
  `desactivado_por_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `clasificaciones_clave_unique` (`clave`),
  KEY `clasificaciones_desactivado_por_id_foreign` (`desactivado_por_id`),
  CONSTRAINT `clasificaciones_desactivado_por_id_foreign` FOREIGN KEY (`desactivado_por_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clasificaciones`
--

LOCK TABLES `clasificaciones` WRITE;
/*!40000 ALTER TABLE `clasificaciones` DISABLE KEYS */;
INSERT INTO `clasificaciones` VALUES (1,'penal','PENAL',NULL,1,NULL,NULL,'2026-08-14 20:11:19','2026-08-14 20:11:19'),(2,'civil','CIVIL',NULL,1,NULL,NULL,'2026-08-14 20:11:19','2026-08-14 20:11:19'),(3,'administrativo','ADMINISTRATIVO',NULL,1,NULL,NULL,'2026-08-14 20:11:19','2026-08-14 20:11:19'),(4,'sin_indicios','SIN INDICIOS',NULL,1,NULL,NULL,'2026-08-14 20:11:19','2026-08-14 20:11:19'),(5,'medida_correctiva','MEDIDA CORRECTIVA',NULL,1,NULL,NULL,'2026-08-14 20:11:19','2026-08-14 20:11:19'),(6,'archivado','ARCHIVADO',NULL,1,NULL,NULL,'2026-08-14 20:11:19','2026-08-14 20:11:19');
/*!40000 ALTER TABLE `clasificaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuracion_sistema`
--

DROP TABLE IF EXISTS `configuracion_sistema`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `configuracion_sistema` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `clave` varchar(100) NOT NULL,
  `valor` text NOT NULL,
  `descripcion` text,
  `actualizado_por_id` bigint unsigned DEFAULT NULL,
  `actualizado_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `configuracion_sistema_clave_unique` (`clave`),
  KEY `configuracion_sistema_actualizado_por_id_foreign` (`actualizado_por_id`),
  CONSTRAINT `configuracion_sistema_actualizado_por_id_foreign` FOREIGN KEY (`actualizado_por_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuracion_sistema`
--

LOCK TABLES `configuracion_sistema` WRITE;
/*!40000 ALTER TABLE `configuracion_sistema` DISABLE KEYS */;
/*!40000 ALTER TABLE `configuracion_sistema` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `denunciados`
--

DROP TABLE IF EXISTS `denunciados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `denunciados` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `denuncia_id` bigint unsigned NOT NULL,
  `orden` int NOT NULL DEFAULT '0',
  `conoce_identidad` tinyint(1) NOT NULL,
  `nombres` varchar(255) DEFAULT NULL,
  `dependencia` varchar(255) DEFAULT NULL,
  `descripcion` text,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `denunciados_denuncia_id_foreign` (`denuncia_id`),
  CONSTRAINT `denunciados_denuncia_id_foreign` FOREIGN KEY (`denuncia_id`) REFERENCES `denuncias` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=110 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `denunciados`
--

LOCK TABLES `denunciados` WRITE;
/*!40000 ALTER TABLE `denunciados` DISABLE KEYS */;
/*!40000 ALTER TABLE `denunciados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `denunciantes`
--

DROP TABLE IF EXISTS `denunciantes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `denunciantes` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `denuncia_id` bigint unsigned NOT NULL,
  `nombres` varchar(255) DEFAULT NULL,
  `ci` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `telefono` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `denunciantes_denuncia_id_unique` (`denuncia_id`),
  CONSTRAINT `denunciantes_denuncia_id_foreign` FOREIGN KEY (`denuncia_id`) REFERENCES `denuncias` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=85 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `denunciantes`
--

LOCK TABLES `denunciantes` WRITE;
/*!40000 ALTER TABLE `denunciantes` DISABLE KEYS */;
/*!40000 ALTER TABLE `denunciantes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `denuncias`
--

DROP TABLE IF EXISTS `denuncias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `denuncias` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ticket` varchar(20) NOT NULL,
  `token_consulta` varchar(4) NOT NULL,
  `tipo` varchar(20) NOT NULL,
  `escenario` varchar(20) NOT NULL DEFAULT 'revelada',
  `estado` varchar(30) NOT NULL DEFAULT 'ingresada',
  `subestado` varchar(30) DEFAULT NULL,
  `categoria_id` bigint unsigned DEFAULT NULL,
  `fecha_hechos` date DEFAULT NULL,
  `hora_hechos` varchar(10) DEFAULT NULL,
  `lugar_hechos` text,
  `hechos` text NOT NULL,
  `declaracion_jurada` tinyint(1) NOT NULL DEFAULT '1',
  `tecnico_id` bigint unsigned DEFAULT NULL,
  `tecnico_anterior_id` bigint unsigned DEFAULT NULL,
  `fecha_admitida` datetime DEFAULT NULL,
  `justificacion_admision` text,
  `fecha_rechazada` datetime DEFAULT NULL,
  `justificacion_rechazo` text,
  `resumen_rechazo` varchar(200) DEFAULT NULL,
  `fecha_asignada` datetime DEFAULT NULL,
  `registrado_por_id` bigint unsigned DEFAULT NULL,
  `sitpreco_rechazo` varchar(50) DEFAULT NULL,
  `es_legacy` tinyint(1) NOT NULL DEFAULT '0',
  `traspaso_json` json DEFAULT NULL,
  `reapertura_json` json DEFAULT NULL,
  `conciliacion_json` json DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `denuncias_ticket_unique` (`ticket`),
  KEY `denuncias_categoria_id_foreign` (`categoria_id`),
  KEY `denuncias_tecnico_anterior_id_foreign` (`tecnico_anterior_id`),
  KEY `denuncias_registrado_por_id_foreign` (`registrado_por_id`),
  KEY `denuncias_estado_index` (`estado`),
  KEY `denuncias_tecnico_id_index` (`tecnico_id`),
  KEY `denuncias_tipo_index` (`tipo`),
  KEY `denuncias_created_at_index` (`created_at`),
  CONSTRAINT `denuncias_categoria_id_foreign` FOREIGN KEY (`categoria_id`) REFERENCES `categorias_denuncia` (`id`),
  CONSTRAINT `denuncias_registrado_por_id_foreign` FOREIGN KEY (`registrado_por_id`) REFERENCES `users` (`id`),
  CONSTRAINT `denuncias_tecnico_anterior_id_foreign` FOREIGN KEY (`tecnico_anterior_id`) REFERENCES `users` (`id`),
  CONSTRAINT `denuncias_tecnico_id_foreign` FOREIGN KEY (`tecnico_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=85 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `denuncias`
--

LOCK TABLES `denuncias` WRITE;
/*!40000 ALTER TABLE `denuncias` DISABLE KEYS */;
/*!40000 ALTER TABLE `denuncias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `denuncias_archivos`
--

DROP TABLE IF EXISTS `denuncias_archivos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `denuncias_archivos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `denuncia_id` bigint unsigned NOT NULL,
  `usuario_id` bigint unsigned NOT NULL,
  `nombre` varchar(255) NOT NULL,
  `path` varchar(255) NOT NULL,
  `tamano` varchar(255) DEFAULT NULL,
  `mime_type` varchar(255) DEFAULT NULL,
  `descripcion` text,
  `contexto` varchar(20) NOT NULL DEFAULT 'general',
  `contexto_entidad_type` varchar(255) DEFAULT NULL,
  `contexto_entidad_id` bigint unsigned DEFAULT NULL,
  `fecha_eliminacion` datetime DEFAULT NULL,
  `fecha_subida` datetime NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `denuncias_archivos_denuncia_id_foreign` (`denuncia_id`),
  KEY `denuncias_archivos_usuario_id_foreign` (`usuario_id`),
  KEY `da_ctx_entidad_idx` (`contexto_entidad_type`,`contexto_entidad_id`),
  KEY `denuncias_archivos_contexto_index` (`contexto`),
  CONSTRAINT `denuncias_archivos_denuncia_id_foreign` FOREIGN KEY (`denuncia_id`) REFERENCES `denuncias` (`id`) ON DELETE CASCADE,
  CONSTRAINT `denuncias_archivos_usuario_id_foreign` FOREIGN KEY (`usuario_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `denuncias_archivos`
--

LOCK TABLES `denuncias_archivos` WRITE;
/*!40000 ALTER TABLE `denuncias_archivos` DISABLE KEYS */;
INSERT INTO `denuncias_archivos` VALUES (1,6,3,'resolucion_adjudicacion.pdf','archivos/demo/DEN-2026-0006/resolucion_adjudicacion.pdf','1.2 MB','application/pdf',NULL,'registro',NULL,NULL,NULL,'2026-05-27 09:00:00','2026-08-14 20:11:21','2026-08-14 20:11:21'),(2,10,5,'EXPEDIENTE_COMPLETO.PDF','archivos/demo/DEN-2026-0010/expediente.pdf','5.8 MB','application/pdf',NULL,'informe',NULL,NULL,NULL,'2026-07-01 15:00:00','2026-08-14 20:11:22','2026-08-14 20:11:22');
/*!40000 ALTER TABLE `denuncias_archivos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dependencias_externas`
--

DROP TABLE IF EXISTS `dependencias_externas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dependencias_externas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `parent_id` bigint unsigned DEFAULT NULL,
  `activa` tinyint(1) NOT NULL DEFAULT '1',
  `fecha_desactivacion` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `desactivado_por_id` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `dependencias_externas_desactivado_por_id_foreign` (`desactivado_por_id`),
  KEY `dependencias_externas_parent_id_index` (`parent_id`),
  CONSTRAINT `dependencias_externas_desactivado_por_id_foreign` FOREIGN KEY (`desactivado_por_id`) REFERENCES `users` (`id`),
  CONSTRAINT `dependencias_externas_parent_id_foreign` FOREIGN KEY (`parent_id`) REFERENCES `dependencias_externas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=186 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dependencias_externas`
--

LOCK TABLES `dependencias_externas` WRITE;
/*!40000 ALTER TABLE `dependencias_externas` DISABLE KEYS */;
/*!40000 ALTER TABLE `dependencias_externas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `descargos`
--

DROP TABLE IF EXISTS `descargos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `descargos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `denuncia_id` bigint unsigned NOT NULL,
  `denunciado_id` bigint unsigned NOT NULL,
  `fecha_notificacion` datetime DEFAULT NULL,
  `medio` varchar(200) DEFAULT NULL,
  `respaldo_archivo_nombre` varchar(255) DEFAULT NULL,
  `respaldo_archivo_path` varchar(255) DEFAULT NULL,
  `respaldo_archivo_tamano` varchar(255) DEFAULT NULL,
  `fecha_vencimiento` datetime DEFAULT NULL,
  `fecha_respuesta` datetime DEFAULT NULL,
  `resumen_descargo` text,
  `estado` varchar(20) NOT NULL DEFAULT 'pendiente_notif',
  `motivo_cancelacion` text,
  `fecha_cancelacion` datetime DEFAULT NULL,
  `eliminado` tinyint(1) NOT NULL DEFAULT '0',
  `fecha_eliminacion` datetime DEFAULT NULL,
  `historial_ediciones` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `descargos_denunciado_id_foreign` (`denunciado_id`),
  KEY `descargos_denuncia_id_index` (`denuncia_id`),
  KEY `descargos_estado_index` (`estado`),
  CONSTRAINT `descargos_denuncia_id_foreign` FOREIGN KEY (`denuncia_id`) REFERENCES `denuncias` (`id`) ON DELETE CASCADE,
  CONSTRAINT `descargos_denunciado_id_foreign` FOREIGN KEY (`denunciado_id`) REFERENCES `denunciados` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `descargos`
--

LOCK TABLES `descargos` WRITE;
/*!40000 ALTER TABLE `descargos` DISABLE KEYS */;
/*!40000 ALTER TABLE `descargos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluaciones_tecnicas`
--

DROP TABLE IF EXISTS `evaluaciones_tecnicas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `evaluaciones_tecnicas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `denuncia_id` bigint unsigned NOT NULL,
  `tecnico_id` bigint unsigned NOT NULL,
  `delegada_por_id` bigint unsigned NOT NULL,
  `delegada_at` datetime NOT NULL,
  `justificacion_delegacion` text,
  `texto_evaluacion` text,
  `recomendacion` varchar(20) DEFAULT NULL,
  `devuelta_at` datetime DEFAULT NULL,
  `devuelta_por_id` bigint unsigned DEFAULT NULL,
  `estado` varchar(20) NOT NULL DEFAULT 'pendiente',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `evaluaciones_tecnicas_tecnico_id_foreign` (`tecnico_id`),
  KEY `evaluaciones_tecnicas_delegada_por_id_foreign` (`delegada_por_id`),
  KEY `evaluaciones_tecnicas_devuelta_por_id_foreign` (`devuelta_por_id`),
  KEY `evaluaciones_tecnicas_denuncia_id_estado_index` (`denuncia_id`,`estado`),
  CONSTRAINT `evaluaciones_tecnicas_delegada_por_id_foreign` FOREIGN KEY (`delegada_por_id`) REFERENCES `users` (`id`),
  CONSTRAINT `evaluaciones_tecnicas_denuncia_id_foreign` FOREIGN KEY (`denuncia_id`) REFERENCES `denuncias` (`id`) ON DELETE CASCADE,
  CONSTRAINT `evaluaciones_tecnicas_devuelta_por_id_foreign` FOREIGN KEY (`devuelta_por_id`) REFERENCES `users` (`id`),
  CONSTRAINT `evaluaciones_tecnicas_tecnico_id_foreign` FOREIGN KEY (`tecnico_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluaciones_tecnicas`
--

LOCK TABLES `evaluaciones_tecnicas` WRITE;
/*!40000 ALTER TABLE `evaluaciones_tecnicas` DISABLE KEYS */;
/*!40000 ALTER TABLE `evaluaciones_tecnicas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feriados`
--

DROP TABLE IF EXISTS `feriados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feriados` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `nombre` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `feriados_fecha_unique` (`fecha`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feriados`
--

LOCK TABLES `feriados` WRITE;
/*!40000 ALTER TABLE `feriados` DISABLE KEYS */;
/*!40000 ALTER TABLE `feriados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `informes_finales`
--

DROP TABLE IF EXISTS `informes_finales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `informes_finales` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `denuncia_id` bigint unsigned NOT NULL,
  `clasificacion_id` bigint unsigned DEFAULT NULL,
  `clasificado_por_id` bigint unsigned DEFAULT NULL,
  `sitpreco` varchar(50) DEFAULT NULL,
  `fojas` int DEFAULT NULL,
  `justificacion` text,
  `concluido_por` varchar(255) NOT NULL,
  `redactado_at` datetime NOT NULL,
  `eliminado` tinyint(1) NOT NULL DEFAULT '0',
  `fecha_eliminacion` datetime DEFAULT NULL,
  `historial_ediciones` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `informes_finales_denuncia_id_unique` (`denuncia_id`),
  KEY `informes_finales_clasificacion_id_foreign` (`clasificacion_id`),
  KEY `informes_finales_clasificado_por_id_foreign` (`clasificado_por_id`),
  KEY `informes_finales_redactado_at_index` (`redactado_at`),
  CONSTRAINT `informes_finales_clasificacion_id_foreign` FOREIGN KEY (`clasificacion_id`) REFERENCES `clasificaciones` (`id`),
  CONSTRAINT `informes_finales_clasificado_por_id_foreign` FOREIGN KEY (`clasificado_por_id`) REFERENCES `users` (`id`),
  CONSTRAINT `informes_finales_denuncia_id_foreign` FOREIGN KEY (`denuncia_id`) REFERENCES `denuncias` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `informes_finales`
--

LOCK TABLES `informes_finales` WRITE;
/*!40000 ALTER TABLE `informes_finales` DISABLE KEYS */;
/*!40000 ALTER TABLE `informes_finales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medios_notificacion`
--

DROP TABLE IF EXISTS `medios_notificacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medios_notificacion` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `clave` varchar(50) NOT NULL,
  `nombre` varchar(255) NOT NULL,
  `activa` tinyint(1) NOT NULL DEFAULT '1',
  `fecha_desactivacion` datetime DEFAULT NULL,
  `desactivado_por_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `medios_notificacion_clave_unique` (`clave`),
  KEY `medios_notificacion_desactivado_por_id_foreign` (`desactivado_por_id`),
  CONSTRAINT `medios_notificacion_desactivado_por_id_foreign` FOREIGN KEY (`desactivado_por_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medios_notificacion`
--

LOCK TABLES `medios_notificacion` WRITE;
/*!40000 ALTER TABLE `medios_notificacion` DISABLE KEYS */;
INSERT INTO `medios_notificacion` VALUES (1,'whatsapp','WHATSAPP',1,NULL,NULL,'2026-08-14 20:11:19','2026-08-14 20:11:19'),(2,'email','EMAIL',1,NULL,NULL,'2026-08-14 20:11:19','2026-08-14 20:11:19'),(3,'presencial','PRESENCIAL',1,NULL,NULL,'2026-08-14 20:11:19','2026-08-14 20:11:19'),(4,'otro','OTRO',1,NULL,NULL,'2026-08-14 20:11:19','2026-08-14 20:11:19');
/*!40000 ALTER TABLE `medios_notificacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notificaciones`
--

DROP TABLE IF EXISTS `notificaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notificaciones` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `usuario_id` bigint unsigned NOT NULL,
  `tipo` varchar(255) NOT NULL,
  `titulo` varchar(255) NOT NULL,
  `mensaje` text NOT NULL,
  `ticket` varchar(255) DEFAULT NULL,
  `destino_url` varchar(255) NOT NULL,
  `icono` varchar(50) NOT NULL DEFAULT 'Bell',
  `color` varchar(20) NOT NULL DEFAULT 'primary',
  `leida` tinyint(1) NOT NULL DEFAULT '0',
  `fecha_leida` datetime DEFAULT NULL,
  `fecha` datetime NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notificaciones_usuario_id_leida_fecha_index` (`usuario_id`,`leida`,`fecha`),
  CONSTRAINT `notificaciones_usuario_id_foreign` FOREIGN KEY (`usuario_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notificaciones`
--

LOCK TABLES `notificaciones` WRITE;
/*!40000 ALTER TABLE `notificaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `notificaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint unsigned NOT NULL,
  `name` text NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`),
  KEY `personal_access_tokens_expires_at_index` (`expires_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pruebas`
--

DROP TABLE IF EXISTS `pruebas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pruebas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `denuncia_id` bigint unsigned NOT NULL,
  `tipo` varchar(20) NOT NULL,
  `descripcion` text NOT NULL,
  `testigo_nombre` varchar(255) DEFAULT NULL,
  `testigo_telefono` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pruebas_denuncia_id_foreign` (`denuncia_id`),
  CONSTRAINT `pruebas_denuncia_id_foreign` FOREIGN KEY (`denuncia_id`) REFERENCES `denuncias` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=147 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pruebas`
--

LOCK TABLES `pruebas` WRITE;
/*!40000 ALTER TABLE `pruebas` DISABLE KEYS */;
/*!40000 ALTER TABLE `pruebas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text,
  `payload` longtext NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `solicitudes_informacion`
--

DROP TABLE IF EXISTS `solicitudes_informacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `solicitudes_informacion` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `denuncia_id` bigint unsigned NOT NULL,
  `dependencia_destino_id` bigint unsigned NOT NULL,
  `detalle` text NOT NULL,
  `plazo_dias` int NOT NULL DEFAULT '10',
  `fecha_envio` datetime NOT NULL,
  `fecha_vencimiento` datetime NOT NULL,
  `fecha_respuesta` datetime DEFAULT NULL,
  `respuesta` text,
  `estado` varchar(20) NOT NULL DEFAULT 'pendiente',
  `motivo_cancelacion` text,
  `fecha_cancelacion` datetime DEFAULT NULL,
  `eliminado` tinyint(1) NOT NULL DEFAULT '0',
  `fecha_eliminacion` datetime DEFAULT NULL,
  `historial_ediciones` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `solicitudes_informacion_dependencia_destino_id_foreign` (`dependencia_destino_id`),
  KEY `solicitudes_informacion_denuncia_id_index` (`denuncia_id`),
  KEY `solicitudes_informacion_estado_index` (`estado`),
  CONSTRAINT `solicitudes_informacion_denuncia_id_foreign` FOREIGN KEY (`denuncia_id`) REFERENCES `denuncias` (`id`) ON DELETE CASCADE,
  CONSTRAINT `solicitudes_informacion_dependencia_destino_id_foreign` FOREIGN KEY (`dependencia_destino_id`) REFERENCES `dependencias_externas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `solicitudes_informacion`
--

LOCK TABLES `solicitudes_informacion` WRITE;
/*!40000 ALTER TABLE `solicitudes_informacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `solicitudes_informacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `rol` varchar(20) NOT NULL,
  `iniciales` varchar(2) DEFAULT NULL,
  `color` varchar(20) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `telefono` varchar(20) DEFAULT NULL,
  `preferencias` json DEFAULT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_username_unique` (`username`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'transparencia'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-14 12:39:17
